* {
    font-family: sans-serif;
    font-weight: bold;
}

.page-content {
    border: dashed green 2px;
    padding: 10px 20px;
    background: #76f676;
}

div {
    border: dashed red 2px;
    padding: 10px;
    margin: 8px 0;
    background: #ff5e5e;
}

p {
    border: dashed blue 2px;
    padding: 8px;
    margin: 8px 0;
    background: #7373b4;
    font-weight: normal;
}

input {
    margin-top: 8px;
    display: block;
    background: lightgrey;
    border: solid black 1px;
    height: 24px;
    padding: 4px 8px;
}