form {
    padding: 10px;
}

input {
    margin-top: 10px;
}

button {
    margin-left: 20px;
    margin-top: 15px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

table {
    margin-left: 20px;
    border: 1px solid black;
}

td {
    width: 60px;
    height: 60px;
    border: 2px solid black;
}