.page-content {
    display: flex;
    justify-content: space-around;
}

.page-content__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanation {
    font: 12px sans-serif;
    width: 340px;
    height: 70px;
}

.container {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: solid black 1px;
    position: relative;
}

.container__child {
    width: 50px;
    height: 50px;
    border: solid red 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}